<ion-view view-title="Right" class="right">
    <ion-content class="newcenter">
        
            <div id="yellow" class="circle gradient ">
                <i class="icon ion-checkmark rightCheck"></i>
            </div>
            <div style="text-align:center;color:white;margin-top: -45px;">
            <h2 style="color:white;font-size: 25px;font-weight: bolder;">Genuine !</h2>
            <h3 style="color:white;font-size: 15px;">This is orginal Porduct</h3>
            </div>
        
    </ion-content>
</ion-view>
<!-- hide-nav-bar="true" -->
