<ion-view view-title="Used" class="used">
    <ion-content class="newcenter">
        <div id="used" class="circle gradient ">
            <i class="icon ion-alert usedCheck"></i>
        </div>
        <div style="text-align:center;color:white; font-size: 12px;
margin-top: -90px;">
            <h2 style="color:white;font-size: 12px;font-size: 23px;
font-weight: bolder;margin-bottom: 60px;">Wrong Code !</h2>
            <h3 style="color:white;font-size: 22px;">This code has already been used</h3>
            <button class="button button-small" style="padding: 0 45px;
border-radius: 5px; margin-top: 25px;" ng-click="back()">
                <h4>Go Back</h4></button>
        </div>
    </ion-content>
</ion-view>
